body {
    font-family: Arial ;
    margin:0;
    background-color:#f5f5f5;
}
header {
    background-color:blue;
    color: yellowgreen;
    padding: 20px;
    text-align: center;
    
}


nav {
    background-color: #333;
    padding: 0;
}
nav a {
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block;

}
nav a:hover {
    background-color: #555;
}
.section {
    max-width: 800px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;

}
h2{
    color: #2196F3;
    border-bottom: 2px solid #2196F3;
    padding-bottom: 10px;

}

.skill{
    background-color: #e3f2fd;
    padding: 15px;
    margin: 10px 0;
    border-left: 4px solid #2196F3;

}
.project {
    background-color: #fff3e0;
    padding: 20px;
    margin: 15px 0;
    border-radius: 5px;
    border-left: 5px solid #ff9800;

}
.contact-box {
    background-color: #e8f5e9;
    padding : 20px;
    border-radius:5px;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;

}
            
